.card {
    background-color: #fff;
    text-align: center;
    border-radius: .25rem;
    margin: 0 5px;
}

.card .container h2 {
    padding: 1.5rem 0;
}

.card .container .content p {
    font-size: 12px;
    color: rgba(34, 34, 34, 0.6);
}

.card-item {
    position: absolute;
    transition: top 1s ease-in;
}

.card-box {
    width: 23.875rem;
    height: 15.063rem;
    margin: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.bitcoin {
    background-color: rgb(255, 181, 69);
}

/* .one {
    top: 10px;
}

.two {
    top: 18rem;
}

.three {
    top: 22.5rem;
}

.four {
    top: 27rem;
} */

.ninja {
    background-color: #3a3a3a;

}

.chain {
    background-color: #7F50E3;
    
}

.evil {
    background-color: #E0304F;
    
}

.card-content {
    padding: 1rem;
    display: grid;
    width: 100%;
    height: 100%;
}

.logo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.card-number span {
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 1);
    font-family: "PT Mono", monospace;
    font-weight: 500;
}

.card-info .card-info-title {
    display: flex;
    justify-content: space-between;
    font-family: "PT Mono", monospace;
    text-transform: uppercase;
    font-size: 12px;
    color: #3d3d3d;
}

.card-info-content {
    display: flex;
    justify-content: space-between;
    font-family: "PT Mono", monospace;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
}

.white {
    color: #fafafa !important;
}

.white-btn {
    border: 1px solid #3a3a3a;
    border-radius: .5rem;
    width: calc(100% - 20px);
    padding: 1rem 0;
    margin: 10px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    transition: all .45s ease-out;
}

.white-btn:hover {
    background-color: #3a3a3a;
    border-color: #000;
    color: #fff;
}

.content {
    position: relative;
    height: 700px;
    width: 402px;
}

.card-box {
    position: absolute;
}